<h1>Clients list:</h1>


#if ($clients)
  <ul>
    #foreach ($client in $clients)
      <li><a href="/clients/$client.getId()">$client.getName()</a></li>
    #end
  </ul>
#else
  <p>No clients available!</p>
#end

<button class="btn-info"><a href="/clients/new">Add a client:</a></button>
